* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-content {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.leftSection {
  flex-basis: 30%;
  background: #fff6d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star-image {
  width: 80%;
  max-width: 400px;
  margin-top: 100px;
}

.rightSection input[type="text"],
.rightSection input[type="password"] {
  width: 200px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rightSection input[type="text"]:focus,
.rightSection input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.rightSection {
  display: flex;
  align-items: center;
  margin-left: 125px;
}

.rightSection label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.content {
  flex: 1;
}

.signin-text {
  margin-top: 8px;
  margin-bottom: 56px;
  font-size: 34px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flagman {
  position: absolute;
  top: 40px;
  left: calc(30% + 600px);
  width: 250px;
  height: auto;
}

.welcome-text {
  margin-top: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button[type="submit"] {
  width: 225px;
  background-color: #5f5f63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  opacity: 1;
}

button[type="submit"]:hover {
  background-color: #0a0a0a;
  
}

.dash-image {
  width: 100%;
  height: 20px;
  margin-top: 73px;
  margin-bottom: 0;
}

.rightSection > .footer {
  height: 10px;
  padding: 20px;
  color: #859BBCF5;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: flex;
  left: 387px;
  width: 100%;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: flex-start;
}

.footer-text {
  margin-right: 10px;
}

.footer-text-separator {
  margin-right: 10px;
  margin-left: 10px;
  border-right: 1px solid #859BBCF5;
  height: 14px;
}

.footer-icon {
  font-size: 12px;
}

.loader {
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}

.cube {
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: background-color 1.1s;
}
.container.dimmed {
  opacity: 0.6;
  pointer-events: none;
}
.cube.blue {
  background-color: rgb(1, 1, 56);
  border: 1px solid #bbabab;
  border-radius: 12px;
  opacity: 0.9;
}
label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes fillCubes {
  0% {
    background-color: white;
  }
  20% {
    background-color: whitesmoke;
  }
  100% {
    background-color: blue;
  }
}
